<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 <connectionStrings>
  <!-- <add name="Connectionstring" connectionString="Data Source=localhost;Database=opdsystem;User ID=root;Password=1234;Integrated Security=False;CHARSET=utf8" providerName="Mysql.Data.MysqlClient"/>--> 
  <add name="connectionstring" connectionString="Data Source=DESKTOP-L2HUNPH\SQLEXPRESS;Initial Catalog=Clinic2018;Integrated Security=False;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
